h2 {
    color:red;
}

.subtitle {
    color: blue;
}

#services {
    color: green;
}


/* li:only-child {
    color: purple;
} */

/* #google-link:link {
    color: blue;
}
#google-link:visited {
    color: red;
} */

h2 + a {
    color: green;
}

textarea ~ button {
    background-color: azure;
    color: purple
}

ul > li {
    color: blue;
}

/* ul li {
    color: green;
} */